@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Sunflower:300,500,700");

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/* fieldset,*/ form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video /* * : 전체선택자*/ {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Sunflower", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ /* 모르는 태그가 나오면 inline요소처리하는데, 해당 태그들를 block 요소로 만들어줌 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ul {
  list-style-type: none;
}

// background image
// body,
// html {
//   margin: 0;
//   padding: 0;
//   height: 100%;
// }
// html {
//   background: url("images/background3.jpg") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
.body {
background-image: url(images/background3.jpg);
min-height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
opacity: 0.5;
}


// layout
.main {
  margin: 0 auto;
  text-align: center;
}

// title
.title {
  margin-top: 200px;
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
}
.wel-msg {
  font-size: 1.5rem;
  color: #fff;
}
.title,
.wel-msg,
.todo-form,
.li {
  padding-bottom: 20px;
}
// input + button
.todo-input,
.todo-input-btn {
  line-height: 30px;
  vertical-align: middle;
}
.todo-input {
  font-family: "Sunflower", sans-serif;
  font-size: 1.2rem;
  width: 500px;
  padding: 5px 20px;
  border-radius: 15px;
}
.todo-input-btn {
  font-family: "Sunflower", sans-serif;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 15px;
}

// 새로생성되는 리스트와 관련된 클래스

.todo-list-item,
.todo-list-item-btn1,
.todo-list-item-btn2,
.todo-list-item-btn3 {
  font-family: "Sunflower", sans-serif;
  vertical-align: middle;
}

.todo-list-item {
  color: #fff;
  padding-bottom: 10px;
  font-size: 1.3rem;
}
.todo-list-item-btn1,
.todo-list-item-btn2,
.todo-list-item-btn3 {
  margin-left: 5px;
  font-size: 1rem;
  border-radius: 50px;
}
// 리스트 버튼에 아이콘 추가
.icon-cancel{
}
.icon-up-dir{
}
.icon-down-dir{
}

// 푸터
.footer {
  color: #fff;
  height: 10vh;
  text-align: center;
}
.footer-info {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 15px;
}
